# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.venv/

# Dataset (слишком тяжёлый для GitHub)
dataset/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
